<div id="button-area">
  <button type="button" (click)="getPhotos()" class="btn btn-outline-dark">
    <img src="../../../assets/camera.png" />
  </button>
</div>
<section id="gallery">
  <div *ngFor="let item of imagesArr; let i = index">
    <div class="gallery-container">
      <img
        src="{{ item.urls.regular }}"
        class="gallery-img"
        class="img-thumbnail"
        data-toggle="modal"
        [attr.data-target]="'myModal' + i"
        (click)="openModal(i)"
      />
    </div>

    <div
      class="modal fade"
      [id]="'myModal' + i"
      tabindex="-1"
      role="dialog"
      aria-labelledby="myModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <img src="{{ item.urls.regular }}" alt="Image" />
          </div>
          <div class="modal-footer">
            <div
              *ngIf="
                item.alt_description != null;
                then firstBlock;
                else secondBlock
              "
            ></div>
            <ng-template #firstBlock>
              <p class="text" [class.shown]="isShown === true">
                {{ item.alt_description }}
              </p>
            </ng-template>
            <ng-template #secondBlock>
              <p class="text" [class.shown]="isShown === true">Title of Card</p>
            </ng-template>

            <button
              type="button"
              class="btn btn-secondary"
              (click)="closeModal(i)"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div id="button-area" *ngIf="showMore">
  <button type="button" (click)="getPhotos()" class="btn btn-outline-dark">
    <img src="../../../assets/plus.png" />
  </button>
</div>
